.left {
    width: 500px;
    height: 300px;
    background-color: red;
    display: flex;
    justify-content: space-evenly;

}

.logo {
    width: 200px;
    height: 100px;
    background-color: aqua;
    border: 1px solid black;
}